{% extends 'base.html' %}

{% block content %}

<form method="POST">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

    <fieldset>
    <p><label for="first_name">First Name</label>
    <input id="firstname" type="text" name="first_name"/></p>

    <p><label for="last_name">Last Name</label>
    <input type="text" name="last_name"/></p>

    <p><label for="mobile">Mobile</label>
    <input type="text" name="mobile"/></p>

    <p><label for="email">Email</label>
    <input type="text" name="email"/></p>

    <input type="submit"/>
    </fieldset>





</form>


{% endblock content %}